<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png">
    <title>Help page</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="images/robot.png" alt="robot">
    </div>
    {{>footer}}
  </body>
</html>
