<footer>
      <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/rishav-kumar-ab8a48166/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/rishavjnv12">Twitter</a>
      <a class="footer-link" href="http://rishavjnv.atwebpages.com/">Website</a>
      <p style="margin:0" class="copyright">© 2020 Rishav Kumar.</p>
    </div>
</footer>
