body{
  color: #40514e;
  font-family: arial;
  margin:0 auto;
  text-align:center;
  background-color: #eef9bf;

  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
  margin-bottom: 0;
  line-height: 2;
  font-weight: 500;
}

.main-content{
  flex-grow:1;
}
a{
  color: #1199ee;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
header{
  margin-top:16px;
  margin-bottom: 48px;
}

h1{
  font-size:64px;
}

ul{
  text-align: center;
  /* list-style-position:initial; */
  margin-left: 33%;
}

li{
  text-align: left;
}
header a{
  color:#888888;
  margin-right:16px;
  text-decoration: none;
}

header a:hover{
  color:red;
}


.portrait  {
  width:250px;
}


input{
  border: 1px solid #cccccc;
  padding: 8px;
}

button{
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color:white;
  padding: 8px;
}

.reach{
  text-align:left;
  margin-left:0px;
}

.reach:hover{
  text-align:left;
  margin-left:0px;
  color:red;
}